{% extends "/user/layout_footerfixed.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div style="height:20px"></div>
    <div class="content-section">
        <h2> Attention</h2>
        <p> It is recommended to use computer to browse this website.</p>
        <p> The Time zone of the website is UTC Time zone</p>
        <p> It is recommended to use uwindsor email address to register the platform </p>
        <h2> Instruction for Normal Users</h2>
        <p>
            GamiSE is a website that aims to enhance user's awareness of defending against social engineering attacks. All the user functions aim to alert users about existing social engineering attacks, teach users knowledge about social engineering attacks.
        </p>
        <h3> Users' Functions </h3>
        <p> Users can use this platform for:<br>
            1.	Sharing experience that related to social engineering.<br>
            2.  "Like" or "Not Interested" other user's posts.<br>
            3.	Reporting a social engineering attack (phishing email attack).<br>
            4.  Contact us if the user has any problem.<br>
            5.  Check Terms and Policy.<br>
            6.  Check Instruction.<br>
            7.  Give feedback to the developer.<br>
            8.  Receive Daily Email from GamiSE.<br>
            9.  Can withdrawal GamiSE anytime if the user do not want to use this website.<br>
            10. Receive the tips that related to defending Social Engineering attacks or the news that happened these days that related to Socail Engineering attacks from GamiSE daily email.<br> 
        </p>
        <h3> Sharing Experience </h3>
        <p> 
            1.  If users face any social engineering attack recently, and want to share it with other users. Users can share it on the website. Other users can have responded to this post, such as "Like" or "Dislike".<br>
            2.  Users can also share defending tips or news that related to Social Engineering. <br>
            3.  GamiSE will send daily email to all the users. Users can click the 'Share on GamiSE' to share experience.<br>
        </p>
        <h3> Report an Attack </h3>
        <p> 
            1.  Users can only report phishing email attacks during the evaluation.<br>
            2.  GamiSE will launch several phishing simulations. If users think the email they received is a phishing email that is from GamiSE, users can report it on GamiSE.<br>
            3.  Users should report the attack on the GamiSE, and forward this email to GamiSE (Forward the email should use the user's mail server, it cannot forward on GamiSE).<br>
            4.  Users cannot check, edit, or delete their reports.<br>
            <strong> 5.  Each user can only submit no more than 3 reports every day. </strong><br>
            6.  IT department has the right to delete users' reports. The reasons will be:<br>
            &nbsp;&nbsp;6.1  The report phishing attack is not the phishing attack sent by GamiSE.<br>
            &nbsp;&nbsp;6.2  User submit the same report with no difference.<br>
            &nbsp;&nbsp;6.3  Users can submit the report before the IT department submit the solution of the attack that the user want to report. If the IT department submits a solution based on this simulation, all the reports that submit later than the solution will be deleted by the IT department.<br>
            7.  GamiSE will send daily email to all the users. Users can click the 'Report on GamiSE' to report an attack.<br>
        </p>
        <h3> Withdrawal </h3>
        <p> 
            1.  GamiSE will send daily email to all the users. Users can click the 'Request a withdrawal' to withdrawal the system.<br>
        </p>
        <h3> IT Reports </h3>
        <p> 
            1.  IT reports is the solution of IT department about a specific phishing attack simulation that launched by GamiSE.<br>
            2.  IT reports will show on the top of the homepage, and it will disappear after 5 days.<br>
        </p>
        <h2> Instruction for IT Department</h2>
        <p> IT Department should:<br>
            1.	Finish checking the users' reports every day no later than 5 pm after each GamiSE phishing simulation.<br>
            2.  IT department has the right to delete users' reports. The reasons will be:<br>
            &nbsp;&nbsp;2.1  The report phishing attack is not the phishing attack sent by GamiSE.<br>
            &nbsp;&nbsp;2.2  User submit the same report with no difference.<br>
            &nbsp;&nbsp;2.3  Users can submit the report before the IT department submit the solution of the attack that the user want to report. If the IT department submits a solution based on this simulation, all the reports that submit later than the solution will be deleted by the IT department.<br>
        </p>
    </div>
    <br>
    <br>

{% endblock content %}