{% extends "/admin/adminlayout.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div style="height:20px"></div>
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ pic }}">
            <div class="">
                <h2>{{ current_user.username }}</h2>
                <p>{{ current_user.email }}</p>
            </div>
        </div>

        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="#multiCollapseExample1">
              Username and Email
            </a>
        </p>
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                        <div>
                            Username:
                            {{ current_user.username }}
                        </div>
                        <div>
                            Email:
                            {{ current_user.email }}
                        </div>
                    </form>
                    
                </div>
            </div>
            <div>
                <form action="" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                        <p class="btn btn-primary">
                                Select Photo
                        </p>
                        <div class="form-group">
                            {% for image in images %}
                                <a href="{{url_for('adminaccountphoto', pid=image.photo_id)}}">
                                    <img src="{{url_for('static', filename='images/' + image.path)}}" alt="image" style="border-radius:50%; height:80px; width:80px;">
                                </a>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <img src="{{url_for('static', filename='images/' + form.picture.data)}}" alt="image" style="border-radius:50%; height:80px; width:80px;">
                            {{ form.picture.data }}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                </form>
            </div>
            <a class="btn btn-primary" href="{{ url_for('admin_reset') }}">Change Password</a>
    </div>
    <br>
    <br>
    {% endblock content %}