{% extends "/admin/adminlayout.html" %}
{% block content %}
  {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endif %}
  {% endwith %}
        
    <div id="dailybutton">
        <table>
            <tr>
                <td><button id="b1" type="button" class="btn btn-primary btn-lg" style="color: white;" onclick="dailynews()">News</button></td>
                <td><button id="b2" type="button" class="btn btn-secondary btn-lg" style="color: white;" onclick="dailytips()">Tips</button></td>
            </tr>
            <tr>
                <td><button id="b3" type="button" class="btn btn-primary btn-lg" style="color: white;" onclick="adminsendnotebutton()">Simulation Notification</button></td>
                <td><button id="b4" type="button" class="btn btn-secondary btn-lg" style="color: white;" onclick="adminwithdrawalbutton()">WithDrawal</button></td>
            </tr>
            
        </table>
    </div>
{% endblock content%}