html {
    background: #3071A9;
  /*
    background: radial-gradient(#fff176, #f57f17);
    min-height: 100%;
  */
    font-family: "Roboto", sans-serif;
  }
  
  
  
  .button,
  .rerun-button {
    padding: 10px 20px;
    border-radius: 3px;
    background: #3071A9;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
      
  }
  .button:hover,
  .rerun-button:hover {
    background: #89bce9;
  }
  .button.rerun-button,
  .rerun-button.rerun-button {
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  .text-center {
    text-align: center;
  }
  
  
  .btn-primary3838{
        padding: 10px 20px;
    border-radius: 3px;
    background: #3071A9;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
  }
  .btn-danger37883{
        padding: 10px 20px;
    border-radius: 3px;
    background:#3071A9;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
      margin-bottom: 20px;
  }